<%= form_with(model: profile) do |form| %>
  <% if profile.errors.any? %>
    <div style="color: red">
      <h2><%= pluralize(profile.errors.count, "error") %> prohibited this profile from being saved:</h2>
      <ul>
        <% profile.errors.each do |error| %>
          <li><%= error.full_message %></li>
        <% end %>
      </ul>
    </div>
  <% end %>
  <div class="space-y-12">
    <div class="mt-10 grid grid-cols-1 gap-x-6 gap-y-8 sm:grid-cols-6">
      <div class="col-span-full">
        <%= form.label :bio, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.text_area :bio, rows: 5, class: "block w-full lg:w-1/2 rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>
      <div class="col-span-full">
        <%= form.label :email, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.email_field :email, class: "block w-full max-w-48 lg:w-1/4 rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>
      <div class="col-span-full">
        <%= form.label :website, class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.url_field :website, class: "block w-full max-w-48 lg:w-1/4 rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>
      <div class="col-span-full">
        <%= form.label :social_1, 'Instagram', class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.url_field :social_1, class: "block w-full max-w-48 lg:w-1/4 rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>
      <div class="hidden col-span-full">
        <%= form.label :social_2, 'Twitter',  class: "block text-sm font-medium leading-6 text-gray-900" %>
        <%= form.url_field :social_2, class: "block w-full max-w-48 lg:w-1/4 rounded-md border-0 py-1.5 text-gray-900 ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
      </div>
      <div class="col-span-full">
        <%= form.label :disciplines,  class: "block text-sm font-medium leading-6 text-gray-900" %>
        <div class="flex flex-wrap my-3">
        <%= form.collection_check_boxes :tag_ids, Tag.all.order(:name), :id, :name do | tag | %>
          <span class="w-1/2 lg:w-1/4">
              <%= tag.label(class: "mr-2 text-sm font-medium leading-6 text-gray-900") { tag.check_box(class: "mr-2") + tag.text } %>
          </span>
        <% end %>
        </div>
      </div>
      <div class="col-span-full">
        <%= form.label :avatar, "Profile picture", class: "block text-sm font-medium leading-6 text-gray-900 mb-2" %>
        <div class="block w-full max-w-96 lg:w-1/2">
          <% if profile.avatar.attached? %>
            <%= image_tag profile.avatar, class: "h-32" %>
          <% end %>
          <%= form.file_field :avatar, class: "py-1.5 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="col-span-full">
        <%= form.label :cv, "CV", class: "block text-sm font-medium leading-6 text-gray-900 mb-2" %>
        <div class="block w-full max-w-96 lg:w-1/2">
          <%= form.file_field :cv, class: "py-1.5 text-gray-900 placeholder:text-gray-400 sm:text-sm sm:leading-6" %>
        </div>
      </div>
      <div class="col-span-full">
        <%= form.submit class: "tw-btn-primary" %>
      </div>
    </div>
  </div>
<% end %>
