<div id="<%= dom_id profile %>">
  <p>
    <strong>Bio:</strong>
    <%= profile.bio %>
  </p>

  <p>
    <strong>Website:</strong>
    <%= profile.website %>
  </p>

  <p>
    <strong>Social 1:</strong>
    <%= profile.social_1 %>
  </p>

  <p>
    <strong>Social 2:</strong>
    <%= profile.social_2 %>
  </p>

  <p>
    <strong>Disciplines:</strong>
    <%= profile.disciplines %>
  </p>

</div>
