<div id="<%= dom_id artwork %>">
  <tr>
    <td><%= artwork.id %></td>
    <td><%= link_to artwork.title, artwork %></td>
    <td><%= artwork.medium %></td>
    <td><%= artwork.description %></td>
    <td><%= artwork.visible %></td>
  </tr>
</div>
