  <%= form_with(model: artwork) do |f| %>
  <div class="max-w-md grid grid-cols-1 gap-y-6 ">
    <% if artwork.errors.any? %>
      <div class="text-red-500 my-4 w-full border-red-200 py-2 border-b">
        <ul>
          <% artwork.errors.each do |error| %>
            <li><%= error.full_message %></li>
          <% end %>
        </ul>
      </div>
    <% end %>
    <div>
      <%= f.label :title, class: "form-label required" %>
      <%= f.text_field :title, class: "small-field w-full" %>
    </div>
    <div>
      <%= f.label :medium, class: "form-label required" %>
        <div class="flex flex-wrap my-3">
          <%= f.collection_radio_buttons :medium, ["Painting", "Work on Paper", "Film/Video", "Digital Art",  "Photography",  "Sculpture", "Installation"].map { | m | [m, m]}, :first, :last  do | mm | %>
            <span class="w-1/2">
              <%= mm.label(class: "mr-2 text-sm font-medium leading-6 text-gray-900") { mm.radio_button(class: "mr-2") + mm.text } %>
            </span>
          <% end %>
        </div>      
    </div>    
    <div>
      <%= f.label :material, class: "form-label required" %>
      <%= f.text_field :material, class: "small-field w-full" %>
    </div>
    <div>
      <%= f.label :edition, class: "form-label" %>
      <%= f.text_field :edition, class: "small-field w-full" %>
      <span class="form-desc">if applicable</span>
    </div>
    <div>
      <%= f.label :description, class: "form-label" %>
      <%= f.text_area :description, rows: 6, class: "small-field w-full" %>
    </div>
    <div>
      <%= f.label :year, class: "form-label required" %>
      <%= f.number_field :year, class: "small-field w-full" %>
    </div>
    <div>
      <%= f.label :price, class: "form-label" %>
      <%= f.number_field :price, class: "small-field" %>
    </div>
    <div class="flex flex-col">
      <label class="form-label required">Location</label>
      <span class="text-sm text-slate-700 my-2">
      Search locations (City, state, and country), then select from box
      </span>
      <input type="text" class="small-field" value="<%= artwork.location %>" id="location-search"/>
      <%= f.hidden_field :location, id: "location-hidden" %>

      <ul id="suggestion-container" class="opacity-0 transition-opacity flex flex-col border rounded border-slate-400 gap-2">
        <li class="hidden p-2 cursor-pointer bg-slate-200">test</li>
      </ul>
    </div>
    <fieldset class="">
      <label class="form-label mb-1">Artwork visibility</label>
      <%= f.check_box :visible %>
      <%= f.label :visible, "Visible in search", :class => "form-desc ml-2" %>
    </fieldset>
    <fieldset class="border round-sm p-3 grid gap-y-2 mb-4 max-w-96">
      <div>
        <%= f.label(:duration, "Duration (minutes)", :class => "form-label") %>
        <%= f.number_field :duration, class: "small-field" %>
      </div>
      <div>
        <%= f.label(:units, :class => "form-label") %>
        <%= f.select :units, %w[in cm], {}, { class: "small-field" } %>
      </div>
      <div>
        <%= f.label(:height, :class => "form-label") %>
        <%= f.number_field :height, step: 0.005, class: "small-field" %>
      </div>
      <div>
        <%= f.label(:width, :class => "form-label") %>
        <%= f.number_field :width, step: 0.005, class: "small-field" %>
      </div>
      <div>
        <%= f.label(:depth, :class => "form-label") %>
        <%= f.number_field :depth, step: 0.005, class: "small-field" %>
      </div>
    </fieldset>
    <%= f.submit "Save", class: "tw-btn-primary" %>
    <span class="form-desc">Artwork images can be uploaded after saving.</span>
  <% end %>
</div>
<%= javascript_include_tag "locationsearch" %>
