<div class="h-full flex flex-col justify-between">
  <%= image_tag large_url(i), alt: i.caption, class: "rounded lg:w-full", draggable: false %>
  <div class="flex justify-between pt-2">
    <div  class="grow relative">
      <i id="caption<%= i.id %>" class="absolute"><%= i.caption %></i>
      <div id="caption-form<%= i.id %>" class="absolute opacity-0 ">
        <%= form_with(model: [@artwork, i]) do |f| %>
          <div class="flex flex-row gap-2 w-full">
              <%= f.text_field :caption, class: "py-1 max-w-36 rounded-md border-0  text-gray-900
                                                ring-1 ring-inset ring-gray-400 placeholder:text-gray-400 focus:ring-2 
                                                focus:ring-inset focus:ring-indigo-500 sm:text-sm sm:leading-6" %>
            <%= f.submit "save", class: "tw-btn-secondary p-1" %>
          </div>

        <% end %>    
      </div>
    </div>
    <div class="flex gap-3 pt-1">
      <div id="edit-caption<%= i.id %>" class="edit-caption-icon cursor-pointer" data-image-id="<%= i.id %>">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="pointer-events-none" viewBox="0 0 16 16">
          <title>edit caption</title>
          <path d="M12.146.146a.5.5 0 0 1 .708 0l3 3a.5.5 0 0 1 0 .708l-10 10a.5.5 0 0 1-.168.11l-5 2a.5.5 0 0 1-.65-.65l2-5a.5.5 0 0 1 .11-.168zM11.207 2.5 13.5 4.793 14.793 3.5 12.5 1.207zm1.586 3L10.5 3.207 4 9.707V10h.5a.5.5 0 0 1 .5.5v.5h.5a.5.5 0 0 1 .5.5v.5h.293zm-9.761 5.175-.106.106-1.528 3.821 3.821-1.528.106-.106A.5.5 0 0 1 5 12.5V12h-.5a.5.5 0 0 1-.5-.5V11h-.5a.5.5 0 0 1-.468-.325"/>
        </svg>      
      </div>
      <div class="sort-handle cursor-pointer">
        <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-arrows-move" viewBox="0 0 16 16">
          <title>drag to change image order</title>
          <path fill-rule="evenodd" d="M7.646.146a.5.5 0 0 1 .708 0l2 2a.5.5 0 0 1-.708.708L8.5 1.707V5.5a.5.5 0 0 1-1 0V1.707L6.354 2.854a.5.5 0 1 1-.708-.708zM8 10a.5.5 0 0 1 .5.5v3.793l1.146-1.147a.5.5 0 0 1 .708.708l-2 2a.5.5 0 0 1-.708 0l-2-2a.5.5 0 0 1 .708-.708L7.5 14.293V10.5A.5.5 0 0 1 8 10M.146 8.354a.5.5 0 0 1 0-.708l2-2a.5.5 0 1 1 .708.708L1.707 7.5H5.5a.5.5 0 0 1 0 1H1.707l1.147 1.146a.5.5 0 0 1-.708.708zM10 8a.5.5 0 0 1 .5-.5h3.793l-1.147-1.146a.5.5 0 0 1 .708-.708l2 2a.5.5 0 0 1 0 .708l-2 2a.5.5 0 0 1-.708-.708L14.293 8.5H10.5A.5.5 0 0 1 10 8"/>
        </svg>          
      </div>
      <%= button_to( 
        raw('
          <svg xmlns="http://www.w3.org/2000/svg" width="20" height="20" fill="currentColor" class="bi bi-trash3" viewBox="0 0 16 16">
            <title>Delete image</title>
            <path d="M6.5 1h3a.5.5 0 0 1 .5.5v1H6v-1a.5.5 0 0 1 .5-.5M11 2.5v-1A1.5 1.5 0 0 0 9.5 0h-3A1.5 1.5 0 0 0 5 1.5v1H1.5a.5.5 0 0 0 0 1h.538l.853 10.66A2 2 0 0 0 4.885 16h6.23a2 2 0 0 0 1.994-1.84l.853-10.66h.538a.5.5 0 0 0 0-1zm1.958 1-.846 10.58a1 1 0 0 1-.997.92h-6.23a1 1 0 0 1-.997-.92L3.042 3.5zm-7.487 1a.5.5 0 0 1 .528.47l.5 8.5a.5.5 0 0 1-.998.06L5 5.03a.5.5 0 0 1 .47-.53Zm5.058 0a.5.5 0 0 1 .47.53l-.5 8.5a.5.5 0 1 1-.998-.06l.5-8.5a.5.5 0 0 1 .528-.47M8 4.5a.5.5 0 0 1 .5.5v8.5a.5.5 0 0 1-1 0V5a.5.5 0 0 1 .5-.5"/>
          </svg>          
        '), 
        [@artwork, i], 
        method: :delete,
        class: "inline-block",
        form: { data: { turbo_confirm: 'Are you sure you want to delete the image?' } })  %> 
    </div>
    <div class="sortable-ghost hidden"></div>
  </div>  

</div>
