<div class="container">
  <div class="row">
    <div class="col-6">
      <div><strong><%= @artwork.title %></strong> (<%= @artwork.year %>)<br>
        <%= @artwork.medium %>
      </div>
      <%= render "dimensions" %>
      <div class="mt-1">
        Location: <%= @artwork.location %>
      </div>
      <div class="mt-1">
        Price: <%= @artwork.price.present? ? @artwork.price : "none" %>
      </div>
      <div class="mt-1 text-warning fw-bold">
        <%= @artwork.visible ? "Not " : "" %> Visible to Curators
      </div>
      <% if @artwork.description.present? %>
        <div class="mt-2">
          <div class="fw-bold">Description</div>
          <%= @artwork.description %>
        </div>
      <% end%>
      <div class="my-5">
        <%= link_to "Edit this artwork", edit_artwork_path(@artwork) %>
      </div>
      <%= button_to "Delete this artwork", @artwork, method: :delete, class: "btn btn-danger", form: { data: { turbo_confirm: 'Are you sure?' } }, class: "btn btn-danger mx-1" %>
    </div>
    <div class="col-1">&nbsp;</div>
    <div class="col-4">
      <div id="images">
        <% @artwork.images.each do |i| %>
          <div class="row" id="<%= dom_id(i) %>">
            <div class="float-left">
              <%= image_tag(i.file.url(transformation: [{height: 150}]), alt: i.caption) %>
            </div>
            <p><%= i.caption %></p>
          </div>
        <% end %>
      </div>
      <% if @artwork.more_images_allowed? %>
        <h5 class="mt-2 text-warning">Add image</h5>
        <%= render "images/form", artwork: @artwork, image: @artwork.images.new %>
      <% end %>
    </div>
  </div>
</div>
