<div class="flex flex-col lg:grid lg:grid-rows-3 lg:grid-cols-4 gap-6 h-auto">
  <!-- info -->
  <div class="lg:col-span-3">
    <% artwork = @artwork %>
    <%= render "curator/artworks/info" %>
  </div>
  <!-- actions -->
  <div class="lg:col-start-4 lg:row-start-1 flex content-center lg:flex-col gap-3">
    <div class=" text-slate-700">
      <svg width="20" height="20" class="<%= @artwork.visible ? "fill-slate-800" : "fill-slate-300" %>" viewBox="0 0 16 16">
        <title class="w-full h-full"><%= @artwork.visible ? "" : "Not " %> visible to curators</title>
        <path d="M10.5 8a2.5 2.5 0 1 1-5 0 2.5 2.5 0 0 1 5 0"/>
        <path d="M0 8s3-5.5 8-5.5S16 8 16 8s-3 5.5-8 5.5S0 8 0 8m8 3.5a3.5 3.5 0 1 0 0-7 3.5 3.5 0 0 0 0 7"/>
      </svg>
    </div>
    
      <%= link_to "Preview", preview_artwork_url(@artwork), class: "tw-btn-primary" %>
    
    <%= link_to "Edit this artwork", edit_artwork_path(@artwork), class: "tw-btn-secondary" %>
    <%= button_to "Delete this artwork", @artwork, method: :delete, class: "tw-btn-danger", form: { data: { turbo_confirm: 'Are you sure?' } } %>

  </div>
  <!-- images -->
  <div class="mt-4 lg:row-start-2 lg:row-span-2 lg:col-span-4 flex gap-4 lg:gap-6 flex-col lg:flex-row">
    
      <% @artwork.images.each do | image |  %>
      <div>
        <%= render "image", i: image %>
      </div>
      <% end %>
      <% if @artwork.more_images_allowed? %>
      <div>
          <h5>Add up to <%= Artwork::MAX_ARTWORK_IMAGES %> images</h5>
          <%= render "images/form", artwork: @artwork, image: @artwork.images.new %>
      </div> 
      <% end %>
    </div> 
  </div>
</div>
