<div><strong><%= @artwork.title %></strong> (<%= @artwork.year %>)<br>
  <%= @artwork.medium %>
</div>
<%= render "dimensions" %>
<div class="mt-1">
  Location: <%= @artwork.location %>
</div>
<% if @artwork.description.present? %>
  <div class="mt-2">
    <div class="fw-bold">Description</div>
    <%= @artwork.description %>
  </div>
<% end%>
<div class="my-4">
  <%= link_to "Edit this artwork", edit_artwork_path(@artwork) %>
</div>
<%= button_to "Delete this artwork", @artwork, method: :delete, class: "btn btn-danger" %>
