<div id="<%= dom_id user %>">
  <tr>
    <td>
      <% if user.has_profile? %>
        <%= link_to user.profile&.name, profile_path(user.profile)%>
      <% end %>
    </td>
    <td class="max-w-24 sm:max-w-40 md:max-w-fit text-ellipsis overflow-hidden">
      <%= link_to_if user.cb_customer_id, user.cb_customer_id, "https://#{Rails.configuration.x.chargebee.site}.chargebee.com/d/customers/#{user.cb_customer_id}" %>
    </td>
    <td class="max-w-24 sm:max-w-40 md:max-w-fit text-ellipsis overflow-hidden"><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= yesno(user.active) %></td>
    <td>
      <% if user.artist? %>
        <%= link_to(
          "login as user",
          login_as_user_path(user),
          class: "tw-btn-secondary lg:mr-2"
        ) %>
        <%= link_to(
          "change password",
          edit_user_path(user),
          class: "tw-btn-secondary lg:mr-2"
        ) %>
        <% if user.active %>
          <%= link_to(
            "send welcome email",
            send_welcome_email_user_path(user),
            class: "tw-btn-secondary lg:mr-2"
          ) %>
        <% end %>
      <% end %>
    </td>
  </tr>
</div>
