<div id="<%= dom_id user %>">
  <tr>
    <td><%= user.id %></td>
    <td><%= link_to_if(
      user.artist?,
      user.name,
      profile_path(Profile.find_or_create_by(user_id: user.id))
      ) %>
    </td>
    <td><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= user.active %></td>
    <td><%= user.last_sign_in_at&.to_date&.to_fs(:long) %></td>
    <td>
      <% if user.artist? %>
        <%= link_to(
          "edit profile",
          edit_profile_path(Profile.find_or_create_by(user_id: user.id)),
          class: "tw-btn-secondary lg:mr-2"
        ) %>
      <% end %>
    </td>
  </tr>
</div>
