<div id="<%= dom_id user %>">
  <tr>
    <td>
      <%= link_to_if user.artist?, user.profile.name, profile_path(user.profile)%>
    </td>
    <td class="max-w-24 sm:max-w-40 md:max-w-fit text-ellipsis overflow-hidden">
      <%= link_to_if user.cb_customer_id, user.cb_customer_id, "https://#{Rails.configuration.x.chargebee.site}.chargebee.com/d/customers/#{user.cb_customer_id}" %>
    </td>
    <td class="max-w-24 sm:max-w-40 md:max-w-fit text-ellipsis overflow-hidden"><%= user.email %></td>
    <td><%= user.role %></td>
    <td><%= yesno(user.active) %></td>
    <td>
      <% if user.artist? %>
        <%= link_to(
          "edit profile",
          edit_profile_path(user.profile),
          class: "tw-btn-secondary lg:mr-2"
        ) %>
      <% end %>
    </td>
  </tr>
</div>
