<div class="row border-bottom my-4 py-4">
  <div class="col-1"><%= artwork.id %></div>
  <div class="col-2"><%= artwork.user.name %></div>
  <div class="col-3"><%= link_to artwork.title, curator_artwork_url(artwork) %></div>
  <div class="col-1"><%= artwork.medium %></div>
  <div class="col-2"><%= artwork.description %></div>
  <div class="col-3">
    <% artwork.images.each do |image| %>
      <%= image_tag thumbnail_url(image)  %>
    <% end %>
  </div>
</div>
