<div>
    <a class="text-black hover:no-underline" href="<%= curator_artwork_url(artwork) %>">
      <img class="h-auto rounded max-w-full" src="<%= large_url(artwork.images.first) if artwork.images.length %>" alt="<%= artwork.title %>">
      <section class="pt-2">
        <div class=""><%= artwork.user.name %></div>
        <div class="text-gray-500 italic"><%= artwork.title %></div>
        <div class="text-black text-lg mb-1">Price: <%= artwork.price.present? ? artwork.price : "N/A" %></div>
        <div class=" text-sm text-gray-700"><%= artwork.description %></div>
      </section>
    </a>
</div>
