<tr>
  <td><%= artwork.id %></td>
  <td><%= artwork.user.name %></td>
  <td><%= link_to artwork.title, curator_artwork_url(artwork) %></td>
  <td><%= artwork.medium %></td>
  <td width="300px"><%= artwork.description %></td>
  <td>
    <% if artwork.images.any? %>
      <% image = artwork.images.first %>
      <% if image.is_video? %>
        <%= image_tag "#{image.file.url}/ik-thumbnail.jpg?tr=h-100" %>
      <% else %>
        <%= image_tag image.file.url(transformation: [{height: 100}]) %>
      <% end %>
    <% end %>
  </tr>
