<div class="flex pb-6 items-center justify-between">
  <div class="">
    <h1 class="text-xl">Artworks</h1>
    <%= paginate @artworks %>
  </div>
  <div class="flex-1 flex justify-end gap-3 items-center ">
    <%= form_with method: :get do |f| %>
      <%= f.text_field :search, value: @search_term, placeholder: "search", label: '&nbsp;'.html_safe, class: "w-40 rounded focus:w-56 transition-[width] duration-300"   %>
    <% end %>
    <% if @search_term.present? %>
      <%= link_to curator_artworks_path do %>
        <svg xmlns="http://www.w3.org/2000/svg" width="16" height="16" class="fill-slate-600" viewBox="0 0 16 16">
          <path d="M2 0a2 2 0 0 0-2 2v12a2 2 0 0 0 2 2h12a2 2 0 0 0 2-2V2a2 2 0 0 0-2-2zm3.354 4.646L8 7.293l2.646-2.647a.5.5 0 0 1 .708.708L8.707 8l2.647 2.646a.5.5 0 0 1-.708.708L8 8.707l-2.646 2.647a.5.5 0 0 1-.708-.708L7.293 8 4.646 5.354a.5.5 0 1 1 .708-.708"/>
        </svg>
      <% end %>
    <% end %>
  </div>
</div>

<% 
  items_per_column = @artworks.length / 4 + 1 # TODO: better formula

%>

<div class="flex justify-center">
  <div class="grid grid-cols-2 md:grid-cols-3 lg:grid-cols-4 gap-4 ">
      <% @artworks.each_with_index do |artwork, index| %>
        <% if index % items_per_column == 0 %>
          <div class="grid gap-4 content-baseline">
        <% end %>
            <%= render artwork %>
        <% if index % items_per_column == items_per_column - 1 %>
          </div>
        <% end %>

      <% end %>

  </div>
</div>




</div>